@import '../../../theme/overrides';


.event-banner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    background-size: cover;
    text-align: center;
    color: $light;
    background-color: $light;
    height: fit-content;
    padding: 2% 0;

    .content-bg {
        height: auto;
        width: fit-content;
        max-width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 1.5% 3.5%;

        border-radius: 25px;

        .row {
            max-width: 70%;
            min-width: 10vw;
            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 15px;
                align-items: center;
        
                h1,
                h3 {
                    color: $dark;
                }
    
                h1 {
                    font-size: 3rem;
                    margin: 0;
                }
    
            }
        }

        .row.register-container {
            margin-bottom: 0;
            max-width: none;

            button.btn.btn-primary {
                background-color: $color-primary-light;
                border-color: $color-primary-light;
                color: $primary;
                border-radius: 5px;
            }
        }
    }
}

.register-container {
    display: block;
    align-self: center;
    margin-bottom: 40px;
}

.event-banner .row {
    padding-top: 10px;
}

.register-container button {
    border-radius: 0px;
    font-size: 2rem;
}

.section-landing-heading {
    font-size: 180%;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 1em;
    font-family: $font-headings;
}

.event-date {
    font-size: 150%;
    margin-top: 1.5em;
    text-transform: uppercase;
}

.event-location {
    font-size: 150%;
    margin-top: 0;
}

.event-data-container {
    padding-top: 10px;
    padding-bottom: 60px;
}

.event-data-container-warning {
    padding-top: 10px;
    margin-top: 10px;
}

.event-description-container {
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: justify;
    font-size: 1.1rem;

}

.icon-padding {
    padding-left: 10px;
}

.nav-link {
    font-weight: 1000;
    font-family: $font-body;
    color: #495057;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.nav-tabs {
    flex-direction: column;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-item .nav-link.active,
.event-details-accordion .card .card-header {
    color: #495057;
    background-color: #fff;
    border-color: #fff #fff $primary;
    border-bottom-width: thick;
}

.event-details-accordion .card {
    border: 0
}

.event-details-accordion .card .card-body {
    padding: 0;
}

// .btn-primary {
//     background-color: #006ADB;
// }

// .btn-primary:hover {
//     color: #fff;
//     background-color: #005BBD;
//     border-color: #0062cc;
// }

// .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
//   .show > .btn-primary.dropdown-toggle {
//     color: #fff;
//     background-color: #0062cc;
//     border-color: #005cbf;
// }

// .btn-primary:focus { 
//     outline: 1px dashed transparent; 
//     outline-offset: 2px; 
// }

// .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
// .show > .btn-primary.dropdown-toggle:focus {
//     box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
// }

::ng-deep .container .filters .row {
    width: 100%;
    margin: 0 !important;

    .select-date {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;

        .custom-select {
            border-color: $primary;
            border-radius: 50px;
            width: 60%;
        }
    }

    .input-group {

        .input-group-prepend .input-group-text {
            background-color: transparent;
            border-color: $primary;
            border-radius: 5px 0 0 5px;
        }

        .custom-select {
            border-color: $primary;
            border-radius: 0 50px 50px 0;
        }
    }
}


/* [SM] Small devices (landscape phones, 576px and up) (bootstrap breakpoint SM) */
@media (min-width: 576px) {
    .nav-tabs {
        flex-direction: row;
    }

    .nav-link {
        padding: .5rem 0.1rem;
        font-size: 13px;
    }
}

/* [MD] Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .nav-link {
        padding: .5rem .2rem;
        font-size: 17px;
    }
}

/* [LG] Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .nav-link {
        padding: .5rem 1rem;
        font-size: 20px;
    }

}