@import '../../../../theme/_overrides.scss';

.speaker-image {
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.page-header {
    padding-top: 30px;
    margin: 42px 0 21px;
}

.speaker-container {
    padding-top: 3em;
    position: relative;
}

.speaker-links-container{
    font-size:20px;
}

.speaker-static-image {
    text-align: center;
}

.speaker-static-image img {
    border-radius: 50%;
}

.speaker-image img {
    border-radius: 50%;
}

.speaker-image:hover {
    border: 6px solid $primary;
    border-radius: 50%;
}

.speaker-image img {
    height: 100%;
}

.speaker-name {
    margin-top: .6em;
    cursor: pointer;
}

.event-speakers-container {
    text-align: center;
}

.event-speakers-container h3 {
    padding-bottom: 30px;
}

.fa {
    margin-right: 15px;
}

.speaker-contact-information a {
    color: $dark;

}

.speaker-links {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1em;
    gap: 10px;
    
    .fa{
        margin-right: auto;
    }
}
