@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    src: url('/src/theme/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    src: url('/src/theme/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: normal;
    src: url('/src/theme/fonts/Roboto/Roboto-Italic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    src: url('/src/theme/fonts/Oswald/Oswald-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: bold;
    src: url('/src/theme/fonts/Oswald/Oswald-Bold.ttf') format('truetype');
  }
  